.STYLE1 {
	font-size: 36px;
	font-family: Georgia, Microsoft Yahei, sans-serif; color:rgb(0, 76, 161);
}
.STYLE2 {
	font-size: 16px;
	font-family:Microsoft Yahei, sans-serif; color:rgb(0, 76, 161);
}
.STYLE3 {
	font-size: 16px;
	font-family:Microsoft Yahei, sans-serif; color:rgb(0, 0, 0);
}
*{
	list-style: none; margin: 0px; padding: 0px;
}
body{
	background: rgb(238, 243, 247); font: 16px Microsoft Yahei, sans-serif; font-size-adjust: none; font-stretch: normal;
}
a:link {
	text-decoration: none;
}
.container {
	position: relative;text-align:center;width: 100%;
}

.navbar {
    text-align:center;background: hsla(0, 0%, 100%, 0.6); margin-top: 30px; box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
.navbar ul {
    display:inline-block;
}
.navbar .bar li {
    float:left;
}
.navbar .bar li + li {
    margin-left:60px;
}
.navbar a {
	color: rgb(0, 76, 161);
}
.navbar .bar > li > a {
	padding: 0.2em 0.5em; border-radius: 4px; line-height: 32px; box-shadow: 0px 1px 2px transparent;font-size: 18px;
}
.navbar .bar > li > a:hover {
	color: rgb(24, 157, 14);
}
.navbar .bar > li:hover > a {
	background: rgb(255, 255, 255); box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

footer {
	text-align: center;
}
footer .link {
	background: rgb(226, 230, 234); margin: 2em 0px 1em; padding: 1.5em 0.8em 0.8em; border-radius: 0.5em; font-size: 14px; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
footer .link::before {
	background: rgb(226, 230, 234); margin: auto; padding: 0.5em; border-radius: 1em 1em 0px 0px; left: 0px; top: -1em; width: 100px; text-align: center; right: 0px; color: rgb(91, 91, 91); letter-spacing: 0.2em; font-size: 12px; position: absolute; content: "推荐链接"; box-shadow: inset 0px 1px 0px rgba(0,0,0,0.1); text-shadow: 1px 1px #fff;
}
footer .link li {
	margin: 0px 0.2em; line-height: 2.5; display: inline-block;
}
footer .link li a {
	color: rgb(0, 76, 161);background: rgb(238, 243, 247); padding: 0.2em 1em; border-radius: 1em; white-space: nowrap; box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
}
footer .link li a:hover {
	background: rgb(255, 255, 255);
}
footer .link li.strong a {
	font-weight: 700;
}

  







